---
import type { CollectionEntry } from "astro:content";
type Posts = CollectionEntry<"articles">;
interface Props {
	articles: Posts[];
	title?: string;
	ctaText?: string;
	ctaUrl?: string;
}

const {
	articles,
	title = "Articles",
	ctaText = "View All Articles",
	ctaUrl = "/articles",
} = Astro.props;

import PostList from "./content/PostList.astro";
---

<section class="mt-10">
	<div class="w-full md:w-10/12 lg:w-8/12 mx-auto px-0 md:px-6">
		<h2 class="uppercase text-base sm:text-lg md:text-base mb-8">{title}</h2>
		<div class="space-y-12">
			<PostList posts={articles} type="article" />
		</div>

		<div class="mt-10 mb-20 text-center">
			<a
				href={ctaUrl}
				class="inline-block border border-black px-4 py-2 text-sm italic rounded-full hover:bg-gray-100 transition"
			>
				{ctaText}
			</a>
		</div>
	</div>
</section>
